@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["Email"]</p>

<address>
    <strong>More Informatiom: </strong><a href="https://www.youtube.com/">Youtube</a>
</address>